.btn-comp{
   
}

.all-task-detail{
    margin-left: 300px;
    margin-bottom: 20px;
}
body{
    background-color: #B3A2A2;
}
.submit-btn{
    background-color: #E9E3E3;
}
.btn{
    margin-right: 5px;
    background-color:#7D2941;
    
}
p{
    color: #4b2637;
}